---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: prometheus-hcloud-sd
    literals:
      - PROMETHEUS_HCLOUD_OUTPUT_ENGINE=http
      - PROMETHEUS_HCLOUD_OUTPUT_FILE=/etc/prometheus/hcloud.json

secretGenerator:
  - name: prometheus-hcloud-sd
    literals: []
  - name: prometheus-hcloud-files
    literals: []

images:
  - name: prometheus-hcloud-sd
    newName: quay.io/promhippie/prometheus-hcloud-sd
    newTag: latest@sha256:dd10b31a0aacbfd4bedcc559f1fce705bbdd5345064c45ed3cb8eb1e95fa9e04

...
