---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: prometheus-hcloud-sd
    literals:
      - PROMETHEUS_HCLOUD_OUTPUT_ENGINE=http
      - PROMETHEUS_HCLOUD_OUTPUT_FILE=/etc/prometheus/hcloud.json

secretGenerator:
  - name: prometheus-hcloud-sd
    literals: []
  - name: prometheus-hcloud-files
    literals: []

images:
  - name: prometheus-hcloud-sd
    newName: quay.io/promhippie/prometheus-hcloud-sd
    newTag: latest@sha256:5559fdbdb904808e46808e449d12a24d4973c4ecd7596fff4ebde49247ce4ed6

...
